Will be using this section to try and use training and test sets for my Airbnb dataset

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris

In [17]:
# 
data= pd.read_csv("new_listingsData.csv")
data.head()

   Unnamed: 0   price          host_location  host_since
0           0  445.55      Westport, Ireland  2009-10-02
1           1  141.55        Dublin, Ireland  2009-11-29
2           2   85.50  County Clare, Ireland  2010-07-06
3           3  128.25        Galway, Ireland  2010-07-19
4           4   79.80                Ireland  2010-07-27